* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
}

body h2 {
  margin-top: 100px;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.loader_wrapper {
  height: 220px;
  width: 220px;
  display: grid;
  place-items: center;
  display: none;
}

.loader_wrapper.show {
  display: grid;
}

#dn_btn.hide {
  display: none;
}

#dn_btn {
  margin-top: 20px;
  height: 40px;
  background-color: #132e65;
  border: none;
  color: white;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

#loaded_percentage {
  position: absolute;
  font-size: 35px;
}

.lds-spinner {
  height: 220px;
  width: 220px;
}

.lds-spinner.hide {
  display: none;
}

.pill {
  animation: lds-spinner 2s linear infinite;
}
.pill1 {
  animation-delay: -1s;
}
.pill1 {
  animation-delay: -2s;
}
.pill2 {
  animation-delay: -1.9s;
}
.pill3 {
  animation-delay: -1.8s;
}
.pill4 {
  animation-delay: -1.7s;
}
.pill5 {
  animation-delay: -1.6s;
}
.pill6 {
  animation-delay: -1.5s;
}
.pill7 {
  animation-delay: -1.4s;
}
.pill8 {
  animation-delay: -1.3s;
}
.pill9 {
  animation-delay: -1.2s;
}
.pill10 {
  animation-delay: -1.1s;
}
.pill11 {
  animation-delay: -1s;
}
.pill12 {
  animation-delay: -0.9s;
}
.pill13 {
  animation-delay: -0.8s;
}
.pill14 {
  animation-delay: -0.7s;
}
.pill15 {
  animation-delay: -0.6s;
}
.pill16 {
  animation-delay: -0.5s;
}
.pill17 {
  animation-delay: -0.4s;
}
.pill18 {
  animation-delay: -0.3s;
}
.pill19 {
  animation-delay: -0.2s;
}
.pill20 {
  animation-delay: -0.1s;
}

@keyframes lds-spinner {
  0% {
    fill: #132e65;
    opacity: 1;
  }
  100% {
    fill: #26a6de;
    opacity: 0.1;
  }
}
